<f:be.container pageTitle="Extension Uploader" enableJumpToUrl="true" enableClickMenu="false" loadPrototype="false" loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true" loadJQuery="true"
	includeCssFiles="{
		0:'{f:uri.resource(path:\'Contrib/jQueryUI/jquery-ui-1.10.3.custom.min.css\', extensionName: \'Extensionmanager\')}',
		1:'{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.css\', extensionName: \'Extensionmanager\')}',
		2:'{f:uri.resource(path:\'Css/main.css\', extensionName: \'Extensionmanager\')}',
		3: '{f:uri.resource(path:\'Stylesheet/Uploader.css\')}'
	}"
	includeJsFiles="{
		0:'contrib/jquery/jquery.dataTables-1.9.4.min.js, extensionName: \'Extensionmanager\'',
		1:'{f:uri.resource(path:\'Contrib/jQueryUI/jquery-ui-1.10.3.min.js\', extensionName: \'Extensionmanager\')}',
		2:'{f:uri.resource(path:\'JavaScript/jquery-validate-1.11.1.min.js\', extensionName: \'Extensionmanager\')}',
		3:'{f:uri.resource(path:\'JavaScript/jquery.expander.min.js\', extensionName: \'Extensionmanager\')}',
		4:'contrib/jquery/jquery.clearable.js',
		5:'{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.js\', extensionName: \'Extensionmanager\')}'
	}">

	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">

		</div>
		<div class="typo3-docheader-buttons">

		</div>
	</div>
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody" class="typo3-extension-manager">

			<f:flashMessages renderMode="div" />

			<h1><f:translate key="extensionUploader">Extension Uploader</f:translate></h1>
			<div class="contentWrapper"><f:render section="Content" /></div>
		</div>
	</div>
</f:be.container>
