{namespace eu=T3x\ExtensionUploader\ViewHelpers}

<eu:backendContainer pageTitle="Extension Uploader" enableJumpToUrl="true" enableClickMenu="false" loadPrototype="false" loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
	cssFiles="{
		0: '{f:uri.resource(path:\'Css/main.css\', extensionName: \'Extensionmanager\')}',
		1: '{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.css\', extensionName: \'Extensionmanager\')}',
		2: '{f:uri.resource(path:\'Stylesheet/Uploader.css\')}'
	}"
	jsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/jquery-1.8.2.min.js\', extensionName: \'Extensionmanager\')}',
		1:'{f:uri.resource(path:\'JavaScript/jquery.dataTables-1.9.4.min.js\', extensionName: \'Extensionmanager\')}',
		2:'{f:uri.resource(path:\'JavaScript/jquery-ui-1.8.17.custom.min.js\', extensionName: \'Extensionmanager\')}',
		3:'{f:uri.resource(path:\'JavaScript/jquery.tools.min.js\', extensionName: \'Extensionmanager\')}',
		4:'{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.js\', extensionName: \'Extensionmanager\')}'
	}">

	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">

		</div>
		<div class="typo3-docheader-buttons">

		</div>
	</div>
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody" class="typo3-extension-manager">

			<f:flashMessages renderMode="div" />

			<h1><f:translate key="extensionUploader">Extension Uploader</f:translate></h1>
			<div class="contentWrapper"><f:render section="Content" /></div>
		</div>
	</div>
</eu:backendContainer>
